@charset "UTF-8";
@font-face{
    font-family: 'FontSubtitle'
    src: url("site-resources/openSans.ttf");
}

header{
    text-align: center;
    font-size: 10px;
    color: white;
    background-color: rgba(156, 3, 3, 1);
    padding: 2px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -7px;
    margin-bottom: 0px;
    border-bottom: 4px solid black;
}

header h1#title{
    font-size: 13px;
    font-family: 'FontSubtitle', sans-serif;
    color: rgba(0, 0, 0, 0.77);
    font-weight: 800;
}

header img#amazonlogo{
    position: relative;
    bottom: -10px;
    align: center;
}

div#interface{
    background-color: rgba(255, 255, 255, 1);
    width: 80%;
    margin: 20px auto 20px auto;
    padding: 10px;
    margin-top: 0px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

body{
    background-color: rgba(230, 176, 50, 0.8);
}

div#interface h1#xesque{
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    color: black;
}
div#interface a{
    text-decoration: none;
    transition: 1s;
}

div#interface a:hover{
    color: rgba(156, 3, 3, 1);
}

body h1{
    font-size: 20px;
}


h2{
    font-size: 15px;
}

h3{
    font-size: 15px;
}

h4{
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    position: relative;
    width: 400px;
    left: 39%;
    margin-top: -10px;
    margin-bottom: 30px;
}

ul#books img{
    position: absolute;
}

ul#books ul{
    list-style-type:none;
}

 ul#books li#data{
    position: relative;
    left: 12%;
    margin-bottom: 90px;
    width: 900px;
 }

div#line {
    border-bottom: 1px black solid;
    margin-top: -10px;
    margin-bottom: 25px;
}

footer#rodape{
    clear: both;
    padding-top: -5px;
}


